<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Registro de Empresa</ion-title>
    <ion-buttons slot="end" *ngIf="modal">
      <!-- <ion-button (click)="onClose()" *ngIf="(count$ | async)" color="light">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11 col-md-7">
          <div>
            <form [formGroup]="factoryForm" class="meka-form">
              <ion-item>
                <ion-label mode="ios" position="floating">Nombre Compañia<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label mode="ios"position="floating">Tipo Compañia <ion-text color="danger">*</ion-text></ion-label>
                <ion-select formControlName="typeCompany" placeholder="Seleccione..." interface="action-sheet">
                  <ion-select-option *ngFor="let item of types$ | async"
                    [value]="item._id">{{ item.name | translate | titlecase }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label mode="ios"position="floating">Categorias <ion-text color="danger">*</ion-text></ion-label>
                <ion-select placeholder="Seleccione..." interface="action-sheet" formControlName="categories" multiple="true">
                  <ion-select-option *ngFor="let item of experts$ | async" [value]="item._id">{{ item.name | translate }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label mode="ios"position="floating">{{ 'PAYMENT' | translate }}<ion-text color="danger">*</ion-text></ion-label>
                <ion-select placeholder="Seleccione..." interface="action-sheet" formControlName="payment" multiple="true">
                  <ion-select-option *ngFor="let item of payment" [value]="item">{{ item | translate }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ng-container>
                <br />
                <ion-button (click)="goToMap()" expand="block" color="warning">
                  <ion-icon slot="start" name="location"></ion-icon>
                  Mi Ubicación
                </ion-button>
                <ion-item *ngIf="address">
                  <ion-label>
                    <p class="ion-text-center">[{{ address.lat | number }}, {{ address.lng | number }}]</p>
                    <p class="ion-text-wrap ion-text-center b">{{ address.address }}</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label mode="ios"position="floating">Dirección <ion-text color="danger"></ion-text></ion-label>
                  <ion-textarea formControlName="address"></ion-textarea>
                </ion-item>
              </ng-container>
              <div class="my-4">
                <ion-button expand="block" (click)="onSubmit()" color="warning" [disabled]="factoryForm.invalid">
                  <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                  {{ 'COMPANY.CREATE' | translate }}
                </ion-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
