<ion-list lines="none" class="mb-5">
  <ion-list-header class="mb-2">
    <ion-label>
      <h2>{{ 'WIDGETS.ACCEPTED' | translate }}</h2>
    </ion-label>
  </ion-list-header>
  <ng-container *ngIf="(services$ | async ) as items; else notFound">
    <ng-container *ngIf="items.length > 0; else notFound">
      <ion-item detail="false" button *ngFor="let item of items">
        <ion-label (click)="openServiceModal(item)">
          <p class="date">{{ item.createdAt | amLocale:'es' | amTimeAgo  }}</p>
          <h3>{{item._id | slice:0:7 }}...</h3>
          <p>{{ item.category.name | translate }}</p>
          <p>{{ item.brand .name}} {{ item.model.name }}</p>
        </ion-label>
        <div class="bubble" slot="end">
          <ion-label slot="end" class="ion-text-right" color="warning">{{ item._id | unread | async}}</ion-label>
          <ion-button (click)="openChat(item._id)" fill="clear" [disabled]="offline" class="bubble">
            <ion-icon slot="icon-only" color="warning"  name="chatbubble"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ng-container>
  </ng-container>
  <ng-template #notFound>
    <div class="container">
      <ion-item lines="none" class="not-found" detail="false">
        <ion-icon slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>{{ 'WIDGETS.NOT_FOUND_ACCEPTED' | translate }}</ion-label>
      </ion-item>
    </div>
  </ng-template>
</ion-list>