
ion-toolbar, ion-content {
  --background: #F0F3F8;
}

ion-content {
  ion-accordion-group {
    ion-accordion {
      .header {
        --background: #fafafa !important;
      }
      ion-list {
        background: #fafafa;
        ion-item {
          --background: #fafafa !important;
          ion-label, ion-icon, p, h3, h2 {
            --color: #1e1e1e;
            color: #1e1e1e;
            p {
              font-size: 1rem;
            }
            h3 {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

.button-chat {
  --color: var(--ion-meka-primary);
  font-weight: 600;
}

agm-map {
  height: 300px;
}

.chat {
  --border-radius: 20px;
}

ion-slides {
  ion-slide {
    img {
      border-radius: 10px;
    }
  }
}