<div class="container widget-slides">
  <ion-label>
    <h2 class="mb-3">{{'WIDGETS.IN_PROCESS' | translate }}</h2>
  </ion-label>
  <ng-container *ngIf="(service$ | async) as service; else notFound">
    <ion-slides mode="ios" [options]="options">
      <ng-container *ngIf="service.length > 0; else single">
        <ion-slide *ngFor="let item of service" (click)="openModal(item, company)">
          <div class="service">
            <ion-label>
              <p class="date">{{ item.createdAt | amLocale:'es' | amTimeAgo  }}</p>
              <p>{{ item.category.name | translate }}</p>
              <h2>{{item._id.slice(0,10)}}...</h2>
              <p>{{ item.brand.name}} {{ item.model.name }}</p>
              <h4>Distancia: {{ item.distance | unitConverted }}</h4>
            </ion-label>
          </div>
        </ion-slide>
      </ng-container>
      <ng-template #single>
        <ion-slide (click)="openModal(service, company)">
          <div class="service">
            <ion-label>
              <p class="date">{{ service.createdAt | amLocale:'es' | amTimeAgo  }}</p>
              <p>{{ service.category.name | translate }}</p>
              <h2>{{service._id.slice(0,10)}}...</h2>
              <p>{{ service.brand.name}} {{ service.model.name }}</p>
              <h4>Distancia: {{ service.distance | unitConverted }}</h4>
            </ion-label>
          </div>
        </ion-slide>
      </ng-template>
    </ion-slides>
  </ng-container>
  <ng-template #notFound>
    <ion-slides mode="ios" [options]="options">
      <ion-slide>
        <div class="service">
          <ion-label>
            <h4 class="text-center">{{ 'WIDGETS.NOT_FOUND' | translate }}</h4>
          </ion-label>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-template>
</div>
