<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="end">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="(services$ | async) as items; else notFound">
      <ng-container *ngFor="let item of items; trackBy:identify">
        <ion-item button (click)="openService(item)" [detail]="false">
          <ion-label>
            <p style="font-size: .7rem;">{{ item.createdAt | date: 'dd MMM, HH:mm' }}</p>
            <h2 style="font-weight: 600;">{{ item.status | translate }}</h2>
            <h2>{{ item._id | slice:0:7 }}...</h2>
            <p>
              {{ item.brand.name }} {{ item.model.name }}
            </p>
            <p>{{ item.distance | unitConverted  }}</p>
            <h4></h4>
          </ion-label>
          <ion-avatar slot="end" class="expert">
            <img [src]="item.category.picture" [alt]="item.category.name | translate" />
          </ion-avatar>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-template #notFound>
      <app-widget-skeleton *ngFor="let item of [0, 1, 2, 3, 4]"></app-widget-skeleton>
    </ng-template>
  </ion-list>
  
</ion-content>
