<app-header [title]="'MENU.TITLE' | translate"></app-header>
<ion-content>
  <app-on-off-widget></app-on-off-widget>
  <div id="menu">
    <app-profile></app-profile>
    <ion-list class="link">
      <ion-item class="onOff mt-3 mb-4" lines="none">
        <ion-label>
          <p class="mb-0">{{ status | translate }}</p>
        </ion-label>
        <ng-container *ngIf="(company$ | async) as company">
          <ion-toggle mode="ios" color="success" [(ngModel)]="active"
            (ngModelChange)="onOffLine(company._id)"></ion-toggle>
        </ng-container>
      </ion-item>
      <ion-item button *ngFor="let item of content" (click)="goToPage(item.url)" routerLinkActive="router-link-active" >
        <ion-label>{{ item.name | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="onRemove()">
        <ion-label>{{ 'MENU.EXCLUDE_MY_ACCOUNT_DATA' | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="goToMembresia()">
        <ion-label>{{ 'MENU.MEMBER' | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="onAboutMeka()">
        <ion-label>{{ 'MENU.ABOUT' | translate }}</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-label>{{ 'MENU.EXIT' | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label class="ion-text-right mb-3">
        <p class="text-right mb-0">
          {{ appInfo?.name || 'Meka LT' }} v{{ appInfo?.version || '1.0.0'}}
        </p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>