<ng-container *ngIf="(company$ | async) as item">
  <div class="profile">
    <div class="container">
      <div class="row g-1 align-items-center">
        <div class="col-4 d-none">
          <ng-container *ngIf="(user$ | async) as user">
            <ion-avatar>
              <div class="meka">
                <p>
                  {{ user.first_name | uppercase | slice: 0:1 }}
                  {{ user.last_name | uppercase | slice: 0:1 }}
                </p>
              </div>
            </ion-avatar>
          </ng-container>
        </div>
        <div class="col-8 ps-2">
          <ion-label class="getDatos">
            <h2 class="name">{{ item.name }}</h2>
            <h3 class="jobs">{{ item.user.first_name | titlecase }} {{ item.user.last_name | titlecase }}</h3>
            <ng-container *ngIf="(score$ | async) as score">
              <h3 class="jobs">{{ score.score.toFixed(1) }}
                <ion-icon name="star" color="warning"></ion-icon>
              </h3>
              <h4 class="rating">{{ score.nivel }}</h4>
            </ng-container>

          </ion-label>
        </div>
      </div>
    </div>
    </div>

</ng-container>
